* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(18, 91, 18);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.check-box {
  margin-bottom: 5px;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.container {
  position: relative;
  max-width: 500px;
  width: 80%;
  background-color: white;
  padding: 25px 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

}


button {
  position: absolute;
  bottom: 280px;
  background-color: rgb(72, 72, 210);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  transition: background-color 0.5s ease;
}

button:hover {
  opacity: 0.8;
  background-color: rgb(128, 20, 222);
}