<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>aboutpage</title>
</head>

<!-- This is the ENTIRE about page space-->
<body>
    
        <!-- [ HEAD BAR ] -->
        <header class = "headbar">
            <div id = "homepageButton">
                <img src="/static/images/logo-small.png" alt="Logo-small" class="logo-small"> 
            </div>
            <p class = "title-banner">Tale Scanner</p>
            <button class="about-btn" id="about-btn">About</button>
        </header>
    
        <!-- Script that handles the headbar buttons -->
        <script type="text/javascript">
            document.getElementById("homepageButton").onclick = function () {
    
                location.href = "/";
            };
    
            document.getElementById("about-btn").onclick = function() {
    
                location.href ="/aboutpage"
            };
        </script> 

        <!-- [ MAIN BODY ] *below head bar*-->
        <div class="container">


            <!-- OUTER About box (holds all of the about list items) -->
            <div class = "about-outer-box">

                <!-- INNER About box (is the unordered list itself: use [ "about-inner-box li" ] in CSS)-->
                <ul class = "about-inner-box"> 

                    <li>
                        <h1> Tale Scanner Overview </h1>

                        <p class = "about-text"> about overview</p>
                    </li>

                    <li>
                        <h1> How to Use Tale Scanner </h1>

                        <p class = "about-text"> about how to use </p>
                    </li>

                    <li>
                        <h1> How to Read Tale Scanner Results </h1>

                        <p class = "about-text"> about how to read results </p>
                    </li>
                </ul>

            </div>


        </div>

</body>
</html>