<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="icon" href="/static/images/logo-small.png">
    <title>homepage</title>

</head>

<!-- This is the ENTIRE homepage space -->
<body>
    <!-- [ HEAD BAR ] -->
    <header class = "headbar">
        <div id = "homepageButton">
            <img src="/static/images/logo-small.png" alt="Logo-small" class="logo-small"> 
        </div>

        <div class = "title-banner">
            <img src="/static/images/title-text.png" alt="title-text" class="title-text-image">
        </div>

        <button class="about-btn" id="about-btn">About</button>
    </header>

    <!-- Script that handles the headbar buttons -->
    <script type="text/javascript">
        document.getElementById("homepageButton").onclick = function () {

            location.href = "/";
        };

        document.getElementById("about-btn").onclick = function() {

            location.href ="/aboutpage"
        };
    </script> 


    <!-- [ MAIN BODY ] *below head bar*-->
    <div class="container">


        <div class = "choice-box">
            <div class="prompt">What would you like to check for?</div>

            <form method="POST" action="{{ url_for('analyze_text') }}">
                <div class="analysisChoice">

                    <div class="check-box">
                        <input type="checkbox" id="totalWords" value="totalWords" name="analysis" {% if 'totalWords' in selected_analysis %}checked{% endif %}> Total number of words
                    </div>

                    <div class="check-box">


                        <input type="checkbox" id="differentWords" value="differentWords" name="analysis" {% if 'differentWords' in selected_analysis %}checked{% endif %} > Number of different words
                    </div>

                    <div class="check-box">
 

                        <input type="checkbox" id="typeToken" value="typeToken" name="analysis" {% if 'typeToken' in selected_analysis %}checked{% endif %}> Type token ratio
                    </div>

                    <div class="check-box">

                    <div class="check-box">
                        <input type="checkbox" id="subordinateClauses" value="subordinateClauses" name="analysis" {% if 'subordinateClauses' in selected_analysis %}checked{% endif %}> Subordinate clauses
                    </div>

                        <input type="checkbox" id="totalClauses" value="totalClauses" name="analysis" {% if 'totalClauses' in selected_analysis %}checked{% endif %}> Total number of clauses
                    </div>
                    
                    <div>
                        <input type="checkbox" id="syntacticSubordination" value="syntacticSubordination" name="analysis" {% if 'syntacticSubordination' in selected_analysis %}checked{% endif %}> Syntactic subordination index
                    </div>

                    <div class="check-box">
                        <input type="checkbox" id="verbErr" value="verbErr" name="analysis" {% if 'verbErr' in selected_analysis %}checked{% endif %} > Verb errors
                    </div>

                    <div class="check-box">
                        <input type="checkbox" id="morpheme" value="morpheme" name="analysis" {% if 'morpheme' in selected_analysis %}checked{% endif %} > Morphemes
                    </div>

                </div>


                  <textarea class="input-box" name="text" placeholder="Please type or copy and paste text here" ></textarea>

                  <button id = "submitButton" onclick="showSpinner()">Submit</button>   
                  
                  <!-- Script for going to results page (currently overruled by python flask call) -->
                 <script type="text/javascript">
                    
                    // Previous, pre-loading bar
                    //document.getElementById("submitButton").onclick = function () {

                    //    location.href = "/resultspage";
                    //}; 

                    function showSpinner() {
                        //console.log("showSpinner() function called");

                        //console.log("Hiding submit button text");
                        document.getElementById("submitButton").innerText = '';
                        //console.log("Adding button loader class");
                        document.getElementById("submitButton").classList.add("button-loader");
                        //console.log("Redirecting to results page");
                        location.href = "/resultspage";
                    }
                </script> 

            </form>

            </div>
        </div>


        <!-- Footer of main dashboard-->
        <footer class = "footer"> 
            <img src="/static/images/logo-banner.png" alt="logo" width="22%" class = "logo-banner">
        </footer>
        
    </div> <!-- End of MAIN BODY -->
    
    </body>
</html>
