<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    
    <title>homepage</title>

</head>

<!-- This is the ENTIRE homepage space -->
<body>
    <!-- [ HEAD BAR ] -->
    <header class = "headbar">
        <div id = "homepageButton">
            <img src="/static/images/logo-small.png" alt="Logo-small" class="logo-small"> 
        </div>
        <p class = "title-banner">Tale Scanner</p>
        <button class="about-btn" id="about-btn">About</button>
    </header>

    <!-- Script that handles the headbar buttons -->
    <script type="text/javascript">
        document.getElementById("homepageButton").onclick = function () {

            location.href = "/";
        };

        document.getElementById("about-btn").onclick = function() {

            location.href ="/aboutpage"
        };
    </script> 


    <!-- [ MAIN BODY ] *below head bar*-->
    <div class="container">


        <div class = "choice-box">
            <div class="title">What would you like to check for?</div>

            <form method="POST" action="/analyze_text">
                <div class="analysisChoice">

                    <div class="check-box">
                        <input type="checkbox" id="totalWords" value="totalWords" name="analysis" > Total number of words
                    </div>

                    <div class="check-box">


                        <input type="checkbox" id="differentWords" value="differentWords" name="analysis" > Number of different words
                    </div>

                    <div class="check-box">
 

                        <input type="checkbox" id="typeToken" value="typeToken" name="analysis" > Type token ratio
                    </div>

                    <div class="check-box">


                        <input type="checkbox" id="totalClauses" value="totalClauses" name="analysis"> Total number of clauses
                    </div>

                    <div class="check-box">
                        <input type="checkbox" id="verbErr" value="verbErr" name="analysis" > Verb errors
                    </div>

                    <div class="check-box">
                        <input type="checkbox" id="morpheme" value="morpheme" name="analysis" > Morphemes
                    </div>

                </div>


                  <textarea class="input-box" name="text" placeholder="Please type or copy and paste text here" ></textarea>

                  <button id = "submitButton" onclick="showSpinner()">Submit</button>   
                  
                  <!-- Script for going to results page (currently overruled by python flask call) -->
                 <script type="text/javascript">
                    
                    // Previous, pre-loading bar
                    //document.getElementById("submitButton").onclick = function () {

                    //    location.href = "/resultspage";
                    //}; 

                    function showSpinner() {
                        //console.log("showSpinner() function called");

                        //console.log("Hiding submit button text");
                        document.getElementById("submitButton").innerText = '';
                        //console.log("Adding button loader class");
                        document.getElementById("submitButton").classList.add("button-loader");
                        //console.log("Redirecting to results page");
                        location.href = "/resultspage";
                    }
                </script> 

            </form>

            <p>{{ results }}</p>
            </div>
        </div>


        <!-- Footer of main dashboard-->
        <footer class = "footer"> 
            <img src="/static/images/logo-banner.png" alt="logo" width="22%" class = "logo-banner">
        </footer>
        
    </div> <!-- End of MAIN BODY -->
    
    </body>
</html>
