<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="icon" href="/static/images/logo-small.png">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <title>homepage</title>

</head>

<!-- This is the ENTIRE homepage space -->
<body>
    <!-- [ HEAD BAR ] -->
    <header class = "headbar">
        <div id = "homepageButton">
            <img src="/static/images/logo-small.png" alt="Logo-small" class="logo-small"> 
        </div>

        <div class = "title-banner">
            <img src="/static/images/title-text.png" alt="title-text" class="title-text-image">
        </div>

        <button class="about-btn" id="about-btn">About</button>
    </header>

    <!-- Script that handles the headbar buttons -->
    <script type="text/javascript">
        document.getElementById("homepageButton").onclick = function () {

            location.href = "/";
        };

        document.getElementById("about-btn").onclick = function() {

            location.href ="/aboutpage"
        };
    </script> 


    <!-- [ MAIN BODY ] *below head bar*-->
    <div class="container">

        <!-- CHOICE BOX includes: analysis check-boxes, input text box, and javascript for page-->
        <div class = "choice-box">
            <div class="prompt">What would you like to check for?</div>

            {% if error_message %}
                <div class="error-message" style="color: red;">{{ error_message }}</div>
            {% endif %}

            <form method="POST" action="{{ url_for('analyze_text') }}">
                <div class="analysisChoice">

                    <!-- Checkbox #1: TOTAL WORDS -->
                    <div class="check-box">
                        <input type="checkbox" id="totalWords" value="totalWords" name="analysis" {% if 'totalWords' in selected_analysis %}checked{% endif %}> Total number of words
                    </div>

                    <!-- Checkbox #2: TOTAL UNIQUE WORDS -->
                    <div class="check-box">
                        <input type="checkbox" id="differentWords" value="differentWords" name="analysis" {% if 'differentWords' in selected_analysis %}checked{% endif %} > Number of different words
                    </div>

                    <!-- Checkbox #3: TYPE TOKEN RATIO -->
                    <div class="check-box">
                        <input type="checkbox" id="typeToken" value="typeToken" name="analysis" {% if 'typeToken' in selected_analysis %}checked{% endif %}> Type token ratio
                    </div>

                    <!-- Checkbox #4: TOTAL MORPHEMES -->
                    <div class="check-box">
                        <input type="checkbox" id="morpheme" title="warning: time = ~1.5sec per 10 words" value="morpheme" name="analysis" {% if 'morpheme' in selected_analysis %}checked{% endif %} > Morphemes
                    </div>

                    <!-- Checkbox #5: TOTAL CLAUSES -->
                    <div class="check-box">
                        <input type="checkbox" id="totalClauses" value="totalClauses" name="analysis" {% if 'totalClauses' in selected_analysis %}checked{% endif %}> Total number of clauses
                    </div>

                    <!-- Checkbox #6: SUBOORDINATE CLAUSES -->
                    <div class="check-box">
                        <input type="checkbox" id="subordinateClauses" value="subordinateClauses" name="analysis" {% if 'subordinateClauses' in selected_analysis %}checked{% endif %}> Subordinate clauses
                    </div>
                    
                    <!-- Checkbox #7: SYNTACTIC SUBOORDINATION INDEX -->
                    <div class ="check-box">
                        <input type="checkbox" id="syntacticSubordination" value="syntacticSubordination" name="analysis" {% if 'syntacticSubordination' in selected_analysis %}checked{% endif %}> Syntactic subordination index
                    </div>

                    <!-- Checkbox #8: VERB ERRORS -->
                    <div class="check-box">
                        <input type="checkbox" id="verbErr" title="warning: time = ~1sec per 10 words" value="verbErr" name="analysis" {% if 'verbErr' in selected_analysis %}checked{% endif %} > Verb errors
                    </div>

                    <!-- Checkbox #9: VERBS / CLAUSES  -->
                    <div class="check-box">
                        <input type="checkbox" id="verbClauses" title="warning: time = ~1sec per 10 words" value="verbClauses" name="analysis" {% if 'verbClauses' in selected_analysis %}checked{% endif %} > Verb divided by the number of clauses
                    </div>

                    <!-- Checkbox #10: WORDS PER CLAUSE -->
                    <div class="check-box">
                        <input type="checkbox" id="wordsClauses" value="wordsClauses" name="analysis" {% if 'wordsClauses' in selected_analysis %}checked{% endif %} > Words per clause
                    </div>

                    <!-- Checkbox #11: SELECT ALL -->
                    <div class = "check-box">
                        <button type="button" onclick="selectAll()">Select All</button>
                    </div>

                    <!-- Checkbox #12: DESELECT ALL -->
                    <div class = "check-box">
                        <button type="button" onclick="deselectAll()">Deselect All</button>
                    </div>
                    
                </div>


                <!-- Input TEXT AREA -->
                  <textarea class="input-box" name="text" id = "input-box" placeholder="Please type or copy and paste text here" ></textarea>

                  <button id = "submitButton" onclick="showSpinner(); saveText()">Submit</button>   
                  
                  <!-- JAVASCRIPT for going to results page (currently overruled by python flask call) -->
                  <script type="text/javascript">

                    function showSpinner() {
                        //console.log("showSpinner() function called");

                        //console.log("Hiding submit button text");
                        document.getElementById("submitButton").innerText = '';
                        //console.log("Adding button loader class");
                        document.getElementById("submitButton").classList.add("button-loader");
                        //console.log("Redirecting to results page");
                        location.href = "/resultspage";
                    }

                    // SELECT ALL function: allows for the selection of all choices before starting
                    function selectAll() {
                        var checkboxes = document.querySelectorAll('.check-box input[type="checkbox"]');
                        checkboxes.forEach(function(checkbox) {
                        checkbox.checked = true;
                    });
                    }

                    // DESELECT ALL function: allows for the clearing of all choices 
                    function deselectAll() {
                        var checkboxes = document.querySelectorAll('.check-box input[type="checkbox"]');
                        checkboxes.forEach(function(checkbox) {
                        checkbox.checked = false;
                    });
                    }

                    // LOAD PREVIOUS TEXT function: loads text previously inputted for more efficient tests
                    window.onload = function loadText() {
                        var savedText = localStorage.getItem('inputText');
                        if (savedText) {
                            document.getElementById('inputBox').value = savedText;
                        }
                        console.log("loading text");
                    }

                    // SAVE TEXT function: saves input text to localStorage --> called onClick() submit
                    function saveText() {
                        var inputText = document.getElementById('input-box').value;
                        localStorage.setItem('inputText', inputText);
                        console.log("saving text");
                    }
                    

                    $(function(){
                        $("#verbErr").tooltip();
                    });
                </script>

        </div>
    </div>
            </form>

                    <!-- Footer of main dashboard-->
                    <footer class = "footer"> 
                        <img src="/static/images/logo-banner.png" alt="logo" width="22%" class = "logo-banner">
                    </footer>

        
    </div> <!-- End of MAIN BODY -->


    </body>
</html>