<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="icon" href="/static/images/logo-small.png">
    <title>homepage</title>

</head>

<!-- This is the ENTIRE homepage space -->
<body>
    <!-- [ HEAD BAR ] -->
    <header class = "headbar">
        <div id ="homepageButton">

            <img src="/static/images/logo-small.png" alt="Logo-small" class="logo-small" > 
        </div>
        <p class = "title-banner">Tale Scanner</p>
        <button class="about-btn" id = "about-btn">About</button>
    </header>

    <!-- Script that handles the headbar buttons -->
    <script type="text/javascript">
        document.getElementById("homepageButton").onclick = function () {
        
            location.href = "/";
        };
        
        document.getElementById("about-btn").onclick = function() {
        
            location.href ="/aboutpage"
        };
    </script> 


    <h3> RESULTS</h3>


    <!-- [ MAIN BODY ] *below head bar*-->
    <div class="container">
          
          <p class="textInfo">Text:</p> <br> <br> <br>
          <p>{{ text }}</p>
        <!-- Footer of main dashboard
        <footer class = "footer"> 
            <img src="/static/images/logo-banner.png" alt="logo" width="15%" class = "logo-banner">
        </footer>
 -->
    </div> <!-- End of MAIN BODY -->

    <!-- start of analysis container-->
    <div class="container-analysis">
    <p class="results"> <strong> Results: </strong> </p>

  
    <div class="result">
        <p><strong>Total Words:</strong> {{ totalwords }}</p>
        <p><strong>Different Words:</strong> {{ differentwords }}</p>
        <p><strong>Type Token:</strong> {{ typetoken }}</p>
        <p><strong>Morphemes:</strong> {{ morphemes }}</p>
        <p><strong>Verb Errors:</strong> {{ verberrors }}</p>
        <p><strong>Total Clauses:</strong> {{ totalclauses }}</p>
    </div>

    </div>
    <!-- end of analysis container-->
    </body>
</html>